header li {
    list-style: none;
    text-align: center;
}

header li a:link,a:visited{
    background-color: cadetblue;
    margin-bottom: 2px;
    text-decoration: none;
}

header li a:hover{
    background-color: chocolate;
    font-size: larger;
}

section article:nth-child(even):hover{
    background-color: rgb(202, 86, 86);
    font-style: italic;
}

.divbar{
    background-color: blue;
    padding: 10px;
    border: 4px solid yellowgreen;
    margin: 20px;
    width: 350px;
    height: 500px;
    box-sizing: content-box;
    /* overflow: auto; */
    background-image: url("./download.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#newDiv{
    background-color: rgb(202, 86, 86);
}