header li {
    list-style: none;
    text-align: center;
}

header li a:link,a:visited{
    background-color: cadetblue;
    margin-bottom: 2px;
    text-decoration: none;
}

header li a:hover{
    background-color: chocolate;
    font-size: larger;
}

section article:nth-child(even):hover{
    background-color: rgb(202, 86, 86);
    font-style: italic;
}